@use 'src/styles/vars';

.skills {
    background-color: vars.$wood-color;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;

    &__card {

        margin: 4% 2%;
        background-color: vars.$silver-color;
        height: 300px;
        min-width: 200px;
        border-radius: 5px;
        box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-in-out;

        h1 {
            margin: 1rem;
            font-weight: bold;
        }

        ul {
            margin: 2rem;
        }

        li {
            margin-top: 1rem;
        }

        img {
            width: 50px;
            height:50px;
            margin-top: 1rem;
        }

        &:hover {
            transform: scale(1.2);
            
        }
    }
}