@use 'src/styles/vars';

.languages {
    min-height: 150px;
    background-color: rgba(vars.$charcoal-color, 1);
    display: flex;
    justify-content: center;


    &__images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        img {
        width: 110px;
        margin: 2rem 7rem;
        }
    }
    
}